.auth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/assets/images/background-login.webp");
  background-size: cover;

  &__box {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #1d1b20;
    padding: 40px;
    border-radius: 16px;
    width: 500px;
    max-width: 95%;
    box-sizing: border-box;
    max-height: 95%;
    overflow: auto;
    animation: enter-box 250ms ease-in-out;

    &__logo {
      display: flex;
      justify-content: flex-end;

      & > img {
        width: 110px;
        cursor: pointer;
      }
    }

    &__title {
      font-size: 96px;
      color: white;
      font-weight: 900;
      line-height: 96px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;
      }

      &__actions {
        display: flex;
        gap: 20px;

        & > app-button {
          width: 100%;
        }
      }

      &__info {
        display: flex;
        justify-content: center;
        gap: 12px;

        & > span {
          font-size: 16px;

          &:first-child {
            color: white;
            font-weight: 300;
          }

          &:last-child {
            cursor: pointer;
            color: #4088ff;
            font-weight: 400;
          }
        }
      }
    }
  }
}

@keyframes enter-box {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
