<ng-container *ngIf="authForm$ | async as form">
  <ng-container *ngIf="{ value: registering$ | async } as registering">
    <div class="auth">
      <div class="auth__box">
        <div class="auth__box__logo">
          <img [routerLink]="['/']" alt="mockos logo" src="assets/logo.svg" />
        </div>
        <span
          [style.font-size.px]="registering.value ? 40 : ''"
          [style.line-height.px]="registering.value ? 40 : ''"
          class="auth__box__title"
          >{{ registering.value ? "Regístrate ahora" : "Hola" }}</span
        >
        <div class="auth__box__content">
          <div class="auth__box__content__form">
            <app-input
              *ngIf="registering.value"
              label="Nombre"
              [control]="form.controls.name"
            ></app-input>
            <app-input
              label="Email"
              [control]="form.controls.email"
            ></app-input>
            <app-input
              label="Contraseña"
              type="password"
              [control]="form.controls.password"
            ></app-input>
            <app-input
              *ngIf="registering.value"
              label="Confirmar contraseña"
              type="password"
              [control]="form.controls.repeatPassword"
            ></app-input>
          </div>
          <div class="auth__box__content__actions">
            <app-button
              *ngIf="registering.value"
              [routerLink]="['/auth', 'login']"
              >Cancelar</app-button
            >
            <app-button
              (click)="handleSubmit()"
              backgroundColor="#4088FF"
              borderColor="#4088FF"
              color="white"
              >{{ registering.value ? "Registrarse" : "Entrar" }}</app-button
            >
          </div>
          <div *ngIf="!registering.value" class="auth__box__content__info">
            <span>¿Todavía no tienes cuenta?</span>
            <span [routerLink]="['/auth', 'register']">Crear ahora</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
