.tokens {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 100%;

  &__content {
    height: 100%;
    display: flex;
    overflow: auto;
    gap: 12px;
    flex-direction: column;

    &__item {
      display: flex;
      justify-content: space-between;
      background-color: #2d2b30;
      border-radius: 12px;
      padding: 12px 16px;

      &__info {
        display: flex;
        align-items: center;
        gap: 12px;

        & > span {
          font-family: Roboto;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.5px;
          color: white;
        }
      }

      &__actions {
        display: flex;
        gap: 20px;

        & > img {
          cursor: pointer;
        }
      }
    }
  }

  &__empty {
    height: 100%;
    display: flex;
    overflow: auto;
    gap: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > img {
      height: 24px;
    }

    &__info {
      display: flex;
      gap: 8px;
      align-items: center;

      & > span {
        font-family: Roboto, sans-serif;
        font-size: 20px;
        line-height: 24px;
        font-weight: 300;
        color: white !important;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    & > div {
      display: flex;
      gap: 12px;
    }
  }
}
