<app-dialog
  [title]="'PAGES.ROUTES.TOKENS_TITLE' | translate"
  [overflowContent]="'auto'"
>
  <div class="tokens">
    <div
      *ngIf="tokens && tokens.length"
      infiniteScroll
      [maxItems]="maxTokens"
      [itemsPerPage]="20"
      [currentItems]="tokens.length"
      (newPageNeeded)="handlePageChange($event)"
      class="tokens__content"
    >
      <div *ngFor="let token of tokens" class="tokens__content__item">
        <div class="tokens__content__item__info">
          <span>{{ token.name }}</span>
        </div>
        <div class="tokens__content__item__actions">
          <img
            (click)="showCopied()"
            [cdkCopyToClipboard]="token.token"
            src="assets/images/icons/duplicate.svg"
          />
          <img
            (click)="handleDelete(token.id)"
            src="assets/images/icons/bin.svg"
          />
        </div>
      </div>
    </div>
    <div *ngIf="tokens && !tokens.length" class="tokens__empty">
      <img src="assets/images/icons/key.svg" />
      <div class="tokens__empty__info">
        <span>{{ "PAGES.ROUTES.MISSING_TOKENS" | translate }}</span>
      </div>
    </div>
    <div class="tokens__actions">
      <div>
        <app-button (click)="dialogRef.close(false)">
          {{ "ACTIONS.CLOSE" | translate }}
        </app-button>
        <app-button (click)="openDocumentation()">
          {{ "COMMON.DOCUMENTATION" | translate }}
        </app-button>
      </div>

      <app-button
        (click)="handleCreate()"
        [borderColor]="'#4088FF'"
        [backgroundColor]="'#4088FF'"
        color="white"
        >{{ "ACTIONS.CREATE_TOKEN" | translate }}</app-button
      >
    </div>
  </div>
</app-dialog>
