<app-dialog [title]="'PAGES.ROUTES.COMPARING_RESPONSES' | translate">
  <div class="compare-responses">
    <div class="compare-responses__content">
      <ng-container *ngIf="originChanges">
        <div
          *ngIf="!originChanges.is_file && !localFileName"
          class="compare-responses__content__merge"
        >
          <ngx-monaco-diff-editor
            [options]="{ theme: 'vs-dark' }"
            (modifiedChanged)="newLocalChanges = $event"
            [modifiedModel]="{
              code: localChanges?.body ?? '{}',
              language: 'json'
            }"
            [originalModel]="{
              code: originChanges.body,
              language: 'json'
            }"
          ></ngx-monaco-diff-editor>
        </div>
        <div
          *ngIf="originChanges.is_file || localFileName"
          class="compare-responses__content__diff"
        >
          <div
            class="compare-responses__content__diff__editor"
            *ngIf="!originChanges.is_file"
          >
            <ngx-monaco-editor
              [ngModel]="originChanges.body"
              [options]="{
                theme: 'vs-dark',
                language: originChanges.editorType,
                readOnly: true
              }"
            ></ngx-monaco-editor>
          </div>
          <div
            class="compare-responses__content__diff__file"
            *ngIf="originChanges.is_file"
          >
            <img src="/assets/images/icons/download.svg" />
            <span>{{ originChanges.body }}</span>
          </div>
          <div
            class="compare-responses__content__diff__editor"
            *ngIf="localChanges && !localFileName"
          >
            <ngx-monaco-editor
              [ngModel]="localChanges.body"
              (ngModelChange)="newLocalChanges = $event"
              [options]="{
                theme: 'vs-dark',
                language: localChanges.editorType
              }"
            ></ngx-monaco-editor>
          </div>
          <div
            class="compare-responses__content__diff__file"
            *ngIf="localFileName"
          >
            <img src="/assets/images/icons/download.svg" />
            <span>{{ localFileName }}</span>
          </div>
        </div>
      </ng-container>
    </div>
    <div *ngIf="originChanges" class="compare-responses__actions">
      <app-button (click)="keepOrigin()">
        {{ "PAGES.ROUTES.REMOTE_HOLD" | translate }}
      </app-button>
      <app-button (click)="keepLocal()">
        {{ "PAGES.ROUTES.MAINTAIN_LOCAL_CHANGES" | translate }}
      </app-button>
    </div>
  </div>
</app-dialog>
