.header {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  color: #ffffff;
  padding: 16px;
  border-radius: 12px;
  background-color: #2d2b30;

  * {
    width: 100%;
  }
  img {
    cursor: pointer;
    max-width: 18px;
  }
}
