<div class="header">
  <ng-container *ngIf="editing; else none_editing" [formGroup]="editingForm">
    <app-input
      [control]="editingForm.controls.key"
      (enterTriggered)="editingForm.valid && saveHeader.emit()"
      label="Título"
      backgroundColor="#2D2B30"
    ></app-input>
    <app-input
      [control]="editingForm.controls.value"
      (enterTriggered)="editingForm.valid && saveHeader.emit()"
      label="Valor"
      backgroundColor="#2D2B30"
    ></app-input>
    <img
      src="/assets/images/icons/save.svg"
      alt="Save header"
      (click)="saveHeader.emit()"
    />
    <img
      src="/assets/images/icons/close.svg"
      alt="Cancel editing"
      (click)="cancelEditing.emit()"
    />
  </ng-container>
  <ng-template #none_editing>
    <span>{{ header?.key }}</span>
    <span>{{ header?.value }}</span>
    <img
      src="/assets/images/icons/pencil.svg"
      alt="Edit header"
      (click)="editingHeader.emit()"
    />
    <img src="/assets/images/icons/bin.svg" alt="Delete header" (click)="deleteHeader.emit()"/>
  </ng-template>
</div>
