<div class="routes">
  <app-input
    [control]="searchForm"
    icon="search"
    placeholder="Buscar endpoint"
  ></app-input>
  <div
    cdkDropList
    (cdkDropListDropped)="handleDrop($event)"
    *ngIf="routes$ | async as routes"
    class="routes__list"
  >
    <ng-container *ngFor="let item of routes; let i = index; trackBy: trackByRoute">
      <app-folder-list-item
        (draggingStart)="draggingIndex = i"
        (draggingEnd)="draggingIndex = undefined"
        [sortingMode]="draggingIndex !== undefined"
        *ngIf="item.is_folder"
        [folder]="item"
      ></app-folder-list-item>
      <app-route-list-item
        (draggingStart)="draggingIndex = i"
        (draggingEnd)="draggingIndex = undefined"
        [sortingMode]="draggingIndex !== undefined"
        *ngIf="!item.is_folder"
        [route]="item"
      ></app-route-list-item>
    </ng-container>
  </div>
</div>
