.routes {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 24px;

    &__list {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
        gap: 8px;
    }
}