.members {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  padding: 12px 28px;
  box-sizing: border-box;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
    background-color: #1d1b20;
    border-radius: 16px;
    padding-left: 24px;
  }

  &__body {
    height: 100%;
    overflow: auto;
    margin: 24px 0;

    &__items {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

      @media (max-width: 550px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
