<div class="members">
  <div class="members__header">
    <app-button
    size="small"
    backgroundColor="#4088FF"
    color="white"
    borderColor="#4088FF"
    (click)="openInviteModal()"
    >
    <img src="/assets/images/icons/add.svg">
    Añadir miembro</app-button
  >
  <button (click)="openLeaveModal()" mat-button>
    <img src="/assets/images/icons/logout.svg">
  </button>
  </div>
  <div
    *ngIf="members"
    infiniteScroll
    [maxItems]="maxMembers"
    [currentItems]="members.length"
    [itemsPerPage]="20"
    (newPageNeeded)="getMemberList($event)"
    class="members__body"
  >
    <div class="members__body__items">
      <app-member-card
        [member]="member"
        *ngFor="let member of members"
      ></app-member-card>
    </div>
  </div>
</div>
