<div class="navbar">
  <div class="navbar__inner">
    <img alt="mockos logo" src="assets/logo.svg" />
  </div>
  <div *ngIf="headerData$ | async as data" class="navbar__breadcrumb">
    <ng-container *ngFor="let item of data.breadcrumb; let last = last">
      <span [class.link]="item.link" [routerLink]="item.link">{{
        item.label | translate
      }}</span>
      <img
        *ngIf="!last"
        alt="left arrow"
        src="assets/images/icons/left-arrow.svg"
      />
    </ng-container>
  </div>
</div>
