.navbar {
  padding: 28px 28px 0 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__inner {
    padding: 0 20px;
    height: 80px;
    width: 100%;
    display: flex;
    background-color: #1d1b20;
    border-radius: 16px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;

    & > img {
      cursor: pointer;
    }

    &__actions {
      display: flex;
      align-items: center;
      gap: 48px;

      &__notifications {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: fit-content;

        & > img {
          height: fit-content;
        }

        &__list {
          margin-top: 40px;
          display: flex;
          flex-direction: column;
          gap: 12px;
          max-width: 294px;
          max-height: 80vh;
          overflow: auto;

          &__empty {
            background-color: #1d1b20;
            border-radius: 16px;
            padding: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            & > span {
              color: white;

              &:first-child {
                font-weight: 900;
                font-size: 32px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                line-height: normal;
                letter-spacing: 1px;
              }

              &:last-child {
                font-weight: 300;
                font-size: 16px;
                letter-spacing: 0.1px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
            }
          }
        }
      }

      &__language {
        display: flex;
        cursor: pointer;

        &__list {
          margin-top: 16px;
          background-color: #2d2b30;
          border-radius: 12px;
          padding: 8px 0;
          animation: menu-in 100ms ease-in-out;

          @keyframes menu-in {
            0% {
              transform: rotateX(270deg);
            }
            100% {
              transform: rotateX(360deg);
            }
          }

          & > div {
            display: flex;
            align-items: center;
            padding: 12px 16px;
            width: 96px;
            cursor: pointer;
            gap: 16px;

            &:hover {
              background-color: #1d1b20;
            }

            & > span {
              color: #cac4d0;
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }

      &__user {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        & > div {
          user-select: none;
          display: flex;
          height: 40px;
          width: 40px;
          justify-content: center;
          align-items: center;
          border-radius: 25px;
          background-color: #4088ff;
          color: white;
          font-weight: 500;
          font-size: 16px;
        }

        & > img {
          transition: all 150ms ease-in-out;
        }

        &__list {
          margin-top: 16px;
          background-color: #2d2b30;
          border-radius: 12px;
          padding: 8px 0;
          animation: menu-in 100ms ease-in-out;

          @keyframes menu-in {
            0% {
              transform: rotateX(270deg);
            }
            100% {
              transform: rotateX(360deg);
            }
          }

          & > div {
            display: flex;
            align-items: center;
            padding: 12px 16px;
            width: 96px;
            cursor: pointer;
            gap: 16px;

            &:hover {
              background-color: #1d1b20;
            }

            & > span {
              color: #cac4d0;
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
    }

    & > img {
      height: 24px;
    }
  }

  &__breadcrumb {
    align-items: center;
    display: flex;
    gap: 12px;
    color: white;
    font-weight: 300;
    font-size: 16px;
    user-select: none;

    & > span {
      display: flex;
      align-items: center;
      height: 24px;
    }
  }
}

.link {
  cursor: pointer;
}

.rotated {
  transform: rotate(90deg);
}
