<div *ngIf="showHeader$ | async" class="navbar">
  <div class="navbar__inner">
    <img [routerLink]="['/projects']" alt="mockos logo" src="assets/logo.svg" />
    <div class="navbar__inner__actions">
      <ng-container
        [ngTemplateOutlet]="(actions$ | async) ?? null"
      ></ng-container>
      <div
        [matBadge]="invitationNumber$ | async"
        matBadgePosition="below before"
        matBadgeSize="small"
        matBadgeColor="warn"
        *ngIf="isLogged$ | async"
        class="navbar__inner__actions__notifications"
      >
        <img
          [cdkMenuTriggerFor]="menu"
          alt="notifications icon"
          src="assets/images/icons/share.svg"
        />
        <ng-template #menu>
          <div cdkMenu>
            <div class="navbar__inner__actions__notifications__list">
              <app-invitation-card
                *ngFor="let invitation of invitations$ | async"
                [project]="invitation.project"
                (accept)="resolveInvitation(invitation.id, true)"
                (reject)="resolveInvitation(invitation.id, false)"
              ></app-invitation-card>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div *ngIf="breadcrumb$ | async as breadcrumb" class="navbar__breadcrumb">
    <ng-container *ngFor="let item of breadcrumb; let last = last">
      <span [class.link]="item.link" [routerLink]="item.link">{{
        item.label | translate
      }}</span>
      <img
        *ngIf="!last"
        alt="left arrow"
        src="assets/images/icons/left-arrow.svg"
      />
    </ng-container>
  </div>
</div>
