<div *ngIf="showHeader$ | async" class="navbar">
  <div class="navbar__inner">
    <img [routerLink]="['/projects']" alt="mockos logo" src="assets/logo.svg" />
    <div class="navbar__inner__actions">
      <ng-container
        [ngTemplateOutlet]="(actions$ | async) ?? null"
      ></ng-container>
      <div
        class="navbar__inner__actions__notifications"
        [matBadge]="invitationNumber$ | async"
        matBadgePosition="below before"
        matBadgeSize="small"
        matBadgeColor="warn"
        *ngIf="isLogged$ | async"
      >
        <img
          [style.cursor]="(invitationNumber$ | async) ? 'pointer' : 'default'"
          [cdkMenuTriggerFor]="menu"
          alt="notifications icon"
          src="assets/images/icons/share.svg"
        />
        <ng-template #menu>
          <div cdkMenu>
            <div class="navbar__inner__actions__notifications__list">
              <app-invitation-card
                *ngFor="let invitation of invitations$ | async"
                [project]="invitation.project"
                (accept)="resolveInvitation(invitation.id, true)"
                (reject)="resolveInvitation(invitation.id, false)"
              ></app-invitation-card>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="navbar__inner__actions__language">
        <img
          #languageToggle="cdkMenuTriggerFor"
          [cdkMenuTriggerFor]="menu"
          alt="language"
          src="assets/images/icons/planet.svg"
        />
        <ng-template #menu>
          <div cdkMenu>
            <div class="navbar__inner__actions__language__list">
              <div
                (click)="changeLanguage(language); languageToggle.close()"
                *ngFor="let language of languages"
              >
                <span>{{ language }}</span>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
      <div
        class="navbar__inner__actions__user"
        [cdkMenuTriggerFor]="menu"
        #menuTrigger="cdkMenuTriggerFor"
        *ngIf="currentUser$ | async as user"
      >
        <div>{{ user.name[0] | uppercase }}</div>
        <img [class.rotated]="menuTrigger.isOpen()" alt="right arrow" src="assets/images/icons/right-arrow.svg" />
        <ng-template #menu>
          <div cdkMenu>
            <div class="navbar__inner__actions__user__list">
              <div (click)="logOut()">
                <span>Cerrar sesión</span>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div *ngIf="breadcrumb$ | async as breadcrumb" class="navbar__breadcrumb">
    <ng-container *ngFor="let item of breadcrumb; let last = last">
      <span [class.link]="item.link" [routerLink]="item.link">{{
        item.label | translate
      }}</span>
      <img
        *ngIf="!last"
        alt="left arrow"
        src="assets/images/icons/left-arrow.svg"
      />
    </ng-container>
  </div>
</div>
