<div
  [cdkMenuTriggerFor]="menu"
  [cdkMenuPosition]="[
    { originX: 'start', originY: 'top', overlayX: 'start', overlayY: 'top' }
  ]"
  class="method"
>
  <span class="method__label">{{ "PAGES.ROUTES.METHOD" | translate }}</span>
  <app-http-chip [method]="control.value ?? 'get'"></app-http-chip>
  <img src="/assets/images/icons/right-arrow.svg" />
</div>

<ng-template #menu>
  <div class="actions" cdkMenu>
    <div
      (click)="control.setValue(method); trigger?.close()"
      *ngFor="let method of methods"
    >
      <app-http-chip [method]="method"></app-http-chip>
    </div>
  </div>
</ng-template>
