<app-dialog [title]="data.title">
  <div class="choice">
    <div [innerHTML]="data.message" class="choice__description"></div>
    <div class="choice__actions">
      <app-button (click)="dialogRef.close(false)">
        {{ data.cancelLabel ?? ("ACTIONS.CANCEL" | translate) }}
      </app-button>
      <app-button
        (click)="dialogRef.close(true)"
        [borderColor]="data.type === 'destructive' ? '#FF2B44' : '#4088FF'"
        [backgroundColor]="data.type === 'destructive' ? '#FF2B44' : '#4088FF'"
        color="white"
        >{{ data.confirmLabel ?? ("ACTIONS.ACCEPT" | translate) }}</app-button
      >
    </div>
  </div>
</app-dialog>
