<app-dialog [title]="data.title">
  <div class="choice">
    <div class="choice__description">
      {{ data.message }}
    </div>
    <div class="choice__actions">
      <app-button (click)="dialogRef.close(false)">
        {{ "ACTIONS.CANCEL" | translate }}
      </app-button>
      <app-button
        (click)="dialogRef.close(true)"
        borderColor="#4088FF"
        backgroundColor="#4088FF"
        color="white"
        >{{ "ACTIONS.ACCEPT" | translate }}</app-button
      >
    </div>
  </div>
</app-dialog>
