<div class="input">
  <span class="input__label" [style.background-color]="backgroundColor"
    >{{ label
    }}<ng-container *ngIf="control.hasValidator(Validators.required)"
      >*</ng-container
    ></span
  >
  <input
    [formControl]="control"
    [style.background-color]="backgroundColor"
    [type]="type"
    [placeholder]="placeholder"
    [style.padding-left.px]="icon ? 46 : 16"
  >
  <img *ngIf="icon" src="/assets/images/icons/{{icon}}.svg">
  <span *ngIf="control.touched && control.errors" class="input__error">
    {{ control.errors | error }}
  </span>
</div>
