.input {
  position: relative;

  & > input {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #CAC4D0;
    background-color: #1D1B20;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    outline: none;
    color: #CAC4D0;
    box-sizing: border-box;
  }

  & > span {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #CAC4D0;
  }

  &__label {
    padding: 0 4px;
    left: 12px;
    top: -8px;
    position: absolute;
  }

  &__error {
    color: #CAC4D0;
  }
}
