<div
  *ngIf="route"
  [class.rounded]="rounded"
  [class.is-selected]="isSelected"
  class="route-list-item"
  [cdkContextMenuTriggerFor]="menu"
>
  <div class="route-list-item__content">
    <div class="route-list-item__content__info">
      <span>{{ route.name }}</span>
      <span>{{ route.endpoint }}</span>
    </div>
    <app-http-chip
      [selected]="isSelected"
      [method]="route.method"
    ></app-http-chip>
  </div>
  <ng-template #menu>
    <div class="route-list-item__actions" cdkMenu>
      <div (click)="openEditRouteModal(route.id, route)">
        <img alt="edit icon" src="assets/images/icons/pencil.svg" />
        <span>Editar</span>
      </div>
      <div (click)="openDeleteRouteModal(route)">
        <img alt="delete icon" src="assets/images/icons/bin.svg" />
        <span>Eliminar</span>
      </div>
    </div>
  </ng-template>
</div>
