<div
  *ngIf="route"
  [class.rounded]="rounded"
  [class.is-selected]="isSelected"
  cdkDragPreviewClass="height-fit"
  cdkDrag
  class="route-list-item"
>
  <div class="route-list-item__content">
    <app-checkbox (click)="$event.stopPropagation()" [formControl]="checkedForm"></app-checkbox>
    <div class="route-list-item__content__info">
      <span>{{ route.name }}</span>
      <span>{{ route.endpoint }}</span>
    </div>
    <app-http-chip [selected]="isSelected" [method]="route.method"></app-http-chip>
  </div>
  <div [class.disabled]="disablePlaceholder" class="route-list-item__placeholder" *cdkDragPlaceholder></div>
</div>
