.route-list-item {
  position: relative;
  background-color: #2d2b30;
  cursor: pointer;

  &__divider {
    border-bottom: 2px solid white;
  }
  
  &__content {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 16px;
    height: 68px;

    &__info {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: hidden;

      & > span {
        font-family: Roboto, "sans-serif";
        color: white;
        font-weight: 400;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:first-child {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.5px;
        }

        &:last-child {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.25px;
        }
      }
    }
  }

  &__actions {
    margin-top: 16px;
    background-color: #2D2B30;
    border-radius: 12px;
    border: 2px solid #1d1b20;
    padding: 8px 0;
    animation: menu-in 100ms ease-in-out;

    @keyframes menu-in {
      0% {
        transform: rotateX(270deg);
      }
      100% {
        transform: rotateX(360deg);
      }
    }

    & > div {
      display: flex;
      align-items: center;
      padding: 12px 16px;
      width: 124px;
      cursor: pointer;
      gap: 16px;

      &:hover {
        background-color: #1D1B20;
      }

      & > span {
        color: #CAC4D0;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

.height-fit {
  height: fit-content !important;
}

.is-selected {
  background-color: #4088FF;
}

.rounded {
  border-radius: 12px;
}