<app-dialog [title]="'PAGES.INVITATIONS.INVITE_THE_TEAM' | translate">
  <div class="members">
    <div class="members__form">
      <app-input
        [control]="inviteEmail"
        [label]="'COMMON.EMAIL' | translate"
      ></app-input>
    </div>
    <div class="members__actions">
      <app-button (click)="dialogRef.close()">
        {{ "ACTIONS.CANCEL" | translate }}
      </app-button>
      <app-button

        borderColor="#4088FF"
        backgroundColor="#4088FF"
        color="white"
        (click)="handleInvite()"
        >{{ "ACTIONS.ACCEPT" | translate }}</app-button
      >
    </div>
  </div>
</app-dialog>
