.button {
  padding: 8px 16px;
  width: 100%;
  height: 56px;
  background-color: transparent;
  border: 1px solid #cac4d0;
  border-radius: 8px;
  color: #cac4d0;
  font-weight: 500;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.small {
  height: 40px;
  font-size: 12px;
}
