<div *ngLet="selectedRoute$ | async as selected" class="actions">
  <div
    [cdkMenuTriggerFor]="menu"
    [cdkMenuPosition]="[
      {
        originX: 'start',
        originY: 'bottom',
        overlayX: 'start',
        overlayY: 'top'
      }
    ]"
    class="actions__item"
  >
    <img src="/assets/images/icons/add.svg" alt="" />
  </div>
  <ng-template #menu>
    <div class="actions__menu" cdkMenu>
      <div (click)="openCreateRouteModal(false).subscribe()">
        <img alt="edit icon" src="assets/images/icons/connect.svg" />
        <span>Ruta</span>
      </div>
      <div (click)="openCreateRouteModal(true).subscribe()">
        <img alt="edit icon" src="assets/images/icons/folder.svg" />
        <span>Carpeta</span>
      </div>
    </div>
  </ng-template>
  <div class="actions__item" (click)="openImportSwaggerModal().subscribe()">
    <img src="/assets/images/icons/import.svg" alt="" />
  </div>
  <div
  [routerLink]="['members']"
  [queryParamsHandling]="'merge'"
  class="actions__item"
>
  <img src="/assets/images/icons/members.svg" alt="" />
</div>
  <div class="actions__divider"></div>
  <div
    (click)="
      selected &&
        openEditRouteModal(
          selected.id,
          selected.is_folder,
          selected
        ).subscribe()
    "
    [class.disabled]="!selected"
    class="actions__item"
  >
    <img src="/assets/images/icons/pencil.svg" alt="" />
  </div>

  <div
    (click)="openDeleteRouteModal(selected).subscribe()"
    [class.disabled]="!selected"
    class="actions__item"
  >
    <img src="/assets/images/icons/bin.svg" alt="" />
  </div>
</div>
