<div class="routes">
  <div class="routes__actions">
    <div class="routes__actions__item">
      <img src="/assets/images/icons/add.svg" alt="" />
    </div>
    <div class="routes__actions__item">
      <img src="/assets/images/icons/share.svg" alt="" />
    </div>
    <div class="routes__actions__item">
      <img src="/assets/images/icons/connect.svg" alt="" />
    </div>
    <div class="routes__actions__item">
      <img src="/assets/images/icons/key.svg" alt="" />
    </div>
    <div class="routes__actions__item">
      <img src="/assets/images/icons/question-mark.svg" alt="" />
    </div>
    <div class="routes__actions__item">
      <img src="/assets/images/icons/pencil.svg" alt="" />
    </div>
    <div class="routes__actions__item">
      <img src="/assets/images/icons/bin.svg" alt="" />
    </div>
  </div>
  <div class="routes__list">
    <app-route-list></app-route-list>
  </div>
  <div class="routes__responses"></div>
</div>
