.routes {
    display: flex;
    gap: 20px;
    height: 100%;
    padding: 12px 28px 28px 28px;
    box-sizing: border-box;
    
    &__actions {
        padding: 24px 0;
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        width: 82px;
        background-color: #1D1B20;
        border-radius: 16px;
        box-sizing: border-box;

        & > div {
            cursor: pointer;

            &:first-child {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #4088FF;
                min-height: 34px;
                width: 34px;
                border-radius: 8px;
            }
        }
    }

    &__list {
        padding: 24px;
        height: 100%;
        background-color: #1D1B20;
        border-radius: 16px;
        box-sizing: border-box;
        width: 506px;
    }
}