<div class="home">
  <div
    *ngIf="{ sticky: sticky$ | async } as status"
    class="home__header"
    [class.sticky]="status.sticky"
  >
    <div class="home__header__background"></div>
    <div auto-animate class="home__header__content">
      <img
        class="home__header__content__logo"
        src="/assets/logo.svg"
        alt="mockos logo"
      />
      <img
        class="home__header__content__action"
        *ngIf="!status.sticky"
        src="/assets/images/icons/mouse.svg"
        alt=""
      />
    </div>
  </div>
  <div class="home__content">
    <div class="home__content__container">
      <div class="home__content__container__hero">
        <h1>Construye Mocks para tu API sin código ni archivos de configuración</h1>
        <h2>Mockos es una herramienta útil y práctica para desarrolladores que buscan probar sus aplicaciones con mocks de API personalizados, de forma colaborativa y sin necesidad de instalar nada en su ordenador.</h2>
        <app-button [routerLink]="['/auth', 'login']" borderColor="#131218" color="black" background="radial-gradient(100% 400.13% at 0% 0%, #182767 0%, #536DBF 22.66%, #EFB7F0 86.31%, #F1F0FA 100%)">Comienza ahora mismo</app-button>
      </div>
      <div class="home__content__container__section">
        <div>
          <h3>Una forma simple pero completa de mockear respuestas JSON y ficheros</h3>
          <h4>Permite editar JSON con un editor sencillo y a prueba. También puedes cargar archivos de hasta 8 MB (configurable)</h4>
        </div>
        <img src="/assets/images/screenshots/edit-responses.webp" alt="">
      </div>
    </div>
  </div>
</div>
