<div class="home">
  <div
    *ngIf="{ sticky: sticky$ | async } as status"
    class="home__header"
    [class.sticky]="status.sticky"
  >
    <div class="home__header__background"></div>
    <div auto-animate class="home__header__content">
      <img
        class="home__header__content__logo"
        src="/assets/logo.svg"
        alt="mockos logo"
      />
      <img
        class="home__header__content__action"
        *ngIf="!status.sticky"
        src="/assets/images/icons/mouse.svg"
        alt=""
      />
    </div>
  </div>
  <div class="home__content">
    <div class="home__content__container">
      <div class="home__content__container__hero">
        <h1>Construye Mocks para tu API sin código ni archivos de configuración</h1>
        <h2>Mockos es una herramienta útil y práctica para desarrolladores que buscan probar sus aplicaciones con mocks de API personalizados, de forma colaborativa y sin necesidad de instalar nada en su ordenador.</h2>
        <app-button [routerLink]="['/auth', 'login']" borderColor="#131218" color="black" background="radial-gradient(100% 400.13% at 0% 0%, #182767 0%, #536DBF 22.66%, #EFB7F0 86.31%, #F1F0FA 100%)">Comienza ahora mismo</app-button>
      </div>
      <div class="home__content__container__section">
        <div>
          <h3>Una forma simple pero completa de mockear respuestas JSON y ficheros</h3>
          <h4>Permite editar JSON con un editor sencillo y a prueba. También puedes cargar archivos de hasta 8 MB (configurable)</h4>
        </div>
        <img src="/assets/images/screenshots/edit-responses.webp" alt="">
      </div>
      <div class="home__content__container__section home__content__container__section__special">
        <div>
          <h3>Funcionalidad completamente reactiva y colaborativa, no mas ficheros de configuración</h3>
          <h4>Ya no es necesario compartir y mantener archivos de configuración poco estéticos, mantente ágil incluso al mockear APIs</h4>
        </div>
        <img src="/assets/images/screenshots/compare-responses.svg" alt="">
      </div>
      <div class="home__content__container__section home__content__container__section__special">
        <div>
          <h3>¡Invita a tus amigos a la fiesta! Puede que no acepten... ¡Pero no pasa nada!</h3>
          <h4>Mockear puede ser complicado, ¡pero es mucho más fácil y divertido con amigos! ¡Aprovecha el sistema de amigos completamente equipado de Mockos!</h4>
        </div>
        <img src="/assets/images/screenshots/invite-members.svg" alt="">
      </div>
      <div class="home__content__container__main">
        <h2>¿No te apetece socializar? ¡Pues tenemos algo para ti! Ya puedes hacer ramas y trabajar por tu cuenta</h2>
        <h3>¿Estás introduciendo cambios que podrían romper el código de alguien? Crea una rama del proyecto y mergea cuando estés listo.</h3>
        <img src="/assets/images/screenshots/screen.webp" alt="">
        <div>
          <span>Press</span>
          <img src="/assets/images/icons/m-key.svg" alt="">
          <span>to access now</span>
        </div>
      </div>
    </div>
  </div>
</div>
