.response {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 153px;
  width: 100%;
  background-color: #1d1b20;
  border-radius: 16px;
  padding: 20px 24px;
  box-sizing: border-box;
  cursor: pointer;

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > img {
      cursor: pointer;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & > span {
      font-family: Roboto, sans-serif;

      &:first-child {
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.1px;
        color: #4088ff;
      }

      &:last-child {
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: white;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  &__actions__menu {
    max-width: 280px;
    width: 155px;
    background-color: #2d2b30;
    border-radius: 12px;
    padding: 16px 0 8px 0;
    display: flex;
    flex-direction: column;

    & app-button {
      padding: 0 16px 8px 16px;
    }

    ::ng-deep {
      & button {
        border: none;
        height: 40px;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      height: 48px;
      font-family: Roboto;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
      color: #cac4d0;
      cursor: pointer;
      padding: 0 16px;

      &:hover {
        background-color: #1d1b20;
      }

      & span {
        margin-left: 16px;
      }
    }
  }
}

.selected {
  background-color: #4088ff;

  & > .response__info {
    & > span {
      &:first-child {
        color: white;
      }
    }
  }
}
