<div class="projects">
  <ng-container *ngIf="projects$ | async as data; else loading">
    <div class="projects__filters">
      <span> {{ "COMMON.FILTER" | translate }}</span>
      <div class="projects__filters__section">
        <span> {{ "COMMON.SORTED" | translate }}</span>
        <app-checkbox-group [formControl]="filters.controls.sort">
          <div class="projects__filters__section__list">
            <div class="projects__filters__section__list__option">
              <app-checkbox value="created_at"></app-checkbox>
              <span> {{ "COMMON.BY_CREATION_DATE" | translate }}</span>
            </div>
            <div class="projects__filters__section__list__option">
              <app-checkbox value="name"></app-checkbox>
              <span> {{ "COMMON.ALPHABETIC" | translate }}</span>
            </div>
            <div class="projects__filters__section__list__option">
              <app-checkbox value="updated_at"></app-checkbox>
              <span> {{ "COMMON.RECENT" | translate }}</span>
            </div>
          </div>
        </app-checkbox-group>
      </div>
      <div class="projects__filters__section">
        <span> {{ "COMMON.TYPE" | translate }}</span>
        <app-checkbox-group [formControl]="filters.controls.onlyBranches">
          <div class="projects__filters__section__list">
            <div class="projects__filters__section__list__option">
              <app-checkbox value="false"></app-checkbox>
              <span> {{ "COMMON.ORIGINAL" | translate }}</span>
            </div>
            <div class="projects__filters__section__list__option">
              <app-checkbox value="true"></app-checkbox>
              <span> {{ "COMMON.BRANCHING" | translate }}</span>
            </div>
          </div>
        </app-checkbox-group>
      </div>
      <div class="projects__filters__section">
        <span> {{ "COMMON.SELECT" | translate }}</span>
        <div class="projects__filters__section__actions">
          <app-button (click)="selectProjects(data.projects)">
            {{ "COMMON.ALL" | translate }}</app-button
          >
          <app-button (click)="selectProjects([])">
            {{ "COMMON.DESELECTION" | translate }}</app-button
          >
        </div>
      </div>
      <div class="projects__filters__section">
        <span> {{ "COMMON.ERASE" | translate }}</span>
        <div class="projects__filters__section__actions">
          <app-button
            [disabled]="!selectedProjects.size"
            (click)="openDeleteMultipleModal()"
          >
            {{ "COMMON.SELECTION" | translate }}</app-button
          >
          <app-button (click)="resetFilters()">
            {{ "COMMON.FILTERS" | translate }}</app-button
          >
        </div>
      </div>
    </div>
    <ng-container *ngIf="data.total; else empty">
      <div class="projects__list">
        <div class="projects__list__grid">
          <app-project-card
            *ngFor="let project of data.projects"
            [project]="project"
            (edit)="openCreateModal(project)"
            (delete)="openDeleteModal(project)"
            [isSelected]="selectedProjects.has(project.id)"
            (selected)="
              $event
                ? selectedProjects.add(project.id)
                : selectedProjects.delete(project.id)
            "
          ></app-project-card>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #empty>
  <div class="empty">
    <img alt="no projects" src="assets/images/no-projects.svg" />
    <span *ngIf="filters.controls.onlyBranches.value">
      {{ "PAGES.PROJECTS.NO_AVAILABLE_BRANCHES" | translate }}
    </span>
    <span *ngIf="!filters.controls.onlyBranches.value">
      {{ "PAGES.PROJECTS.CREATE_NEW_PROJECT" | translate }}
    </span>
    <app-button
      *ngIf="!filters.controls.onlyBranches.value"
      (click)="openCreateModal()"
      size="small"
      color="white"
      borderColor="#4088FF"
      backgroundColor="#4088FF"
    >
      {{ "PAGES.PROJECTS.CREATE_PROJECR" | translate }}</app-button
    >
  </div>
</ng-template>

<ng-template #loading>
  <div class="loading">
    <mat-spinner color="primary"></mat-spinner>
  </div>
</ng-template>

<ng-template #actions>
  <div>
    <app-button
      (click)="openCreateModal()"
      size="small"
      color="white"
      borderColor="#4088FF"
      backgroundColor="#4088FF"
    >
      <img src="/assets/images/icons/add.svg" />
      {{ "COMMON.NEW" | translate }}
    </app-button>
  </div>
</ng-template>
