<div class="projects">
  <ng-container *ngIf="projects$ | async as data; else loading">
    <div class="projects__filters">
      <span>Filtro</span>
      <div class="projects__filters__section">
        <span>Ordenado</span>
        <app-checkbox-group [formControl]="filters.controls.sort">
          <div class="projects__filters__section__list">
            <div class="projects__filters__section__list__option">
              <app-checkbox value="created_at"></app-checkbox>
              <span>Por fecha de creación</span>
            </div>
            <div class="projects__filters__section__list__option">
              <app-checkbox value="name"></app-checkbox>
              <span>Alfabético</span>
            </div>
            <div class="projects__filters__section__list__option">
              <app-checkbox value="updated_at"></app-checkbox>
              <span>Reciente</span>
            </div>
          </div>
        </app-checkbox-group>
      </div>
      <div class="projects__filters__section">
        <span>Tipo</span>
        <app-checkbox-group [formControl]="filters.controls.onlyBranches">
          <div class="projects__filters__section__list">
            <div class="projects__filters__section__list__option">
              <app-checkbox value="false"></app-checkbox>
              <span>Original</span>
            </div>
            <div class="projects__filters__section__list__option">
              <app-checkbox value="true"></app-checkbox>
              <span>Ramificación</span>
            </div>
          </div>
        </app-checkbox-group>
      </div>
      <div class="projects__filters__section">
        <span>Seleccionar</span>
        <div class="projects__filters__section__actions">
          <app-button (click)="selectProjects(data.projects)">Todo</app-button>
          <app-button (click)="selectProjects([])">Deselección</app-button>
        </div>
      </div>
      <div class="projects__filters__section">
        <span>Borrar</span>
        <div class="projects__filters__section__actions">
          <app-button
            [disabled]="!selectedProjects.size"
            (click)="openDeleteMultipleModal()"
            >Selección</app-button
          >
          <app-button (click)="resetFilters()">Filtros</app-button>
        </div>
      </div>
    </div>
    <ng-container *ngIf="data.total; else empty">
      <div class="projects__list">
        <div class="projects__list__grid">
          <app-project-card
            *ngFor="let project of data.projects"
            [project]="project"
            (edit)="openCreateModal(project)"
            (delete)="openDeleteModal(project)"
            [isSelected]="selectedProjects.has(project.id)"
            (selected)="
              $event
                ? selectedProjects.add(project.id)
                : selectedProjects.delete(project.id)
            "
          ></app-project-card>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #empty>
  <div class="empty">
    <img alt="no projects" src="assets/images/no-projects.svg" />
    <span *ngIf="filters.controls.onlyBranches.value">
      No hay ramas disponibles
    </span>
    <span *ngIf="!filters.controls.onlyBranches.value">
      Aún no tienes ningún proyecto, es hora de crear uno
    </span>
    <app-button
      *ngIf="!filters.controls.onlyBranches.value"
      (click)="openCreateModal()"
      size="small"
      color="white"
      borderColor="#4088FF"
      backgroundColor="#4088FF"
      >Crear proyecto</app-button
    >
  </div>
</ng-template>

<ng-template #loading>
  <div class="loading">
    <mat-spinner color="primary"></mat-spinner>
  </div>
</ng-template>

<ng-template #actions>
  <div>
    <app-button
      (click)="openCreateModal()"
      size="small"
      color="white"
      borderColor="#4088FF"
      backgroundColor="#4088FF"
      >
      <img src="/assets/images/icons/add.svg">
      Nuevo
    </app-button
    >
  </div>
</ng-template>
