<app-dialog
  overflowContent="auto"
  [title]="'PAGES.ROUTES.EDIT_HEADERS' | translate"
  [closable]="true"
  (closeTriggered)="dialogRef.close()"
>
  <div class="headers">
    <div class="headers__creator">
      <ng-container [formGroup]="createHeaderForm">
        <app-input
          label="Key"
          [control]="createHeaderForm.controls.key"
          (enterTriggered)="createHeaderForm.valid && createHeader()"
        ></app-input>
        <app-input
          label="Value"
          [control]="createHeaderForm.controls.value"
          (enterTriggered)="createHeaderForm.valid && createHeader()"
        ></app-input>
      </ng-container>

      <app-button
        backgroundColor="#4088FF"
        borderColor="#4088FF"
        color="#FFFFFF"
        [disabled]="createHeaderForm.invalid"
        (click)="createHeader()"
      >
        <img src="/assets/images/icons/add.svg" alt="add" />
      </app-button>
    </div>
    <div
      class="headers__list"
      *ngIf="headers && headers.length; else noHeaders"
      infiniteScroll
      [maxItems]="maxHeaders"
      [currentItems]="headers.length"
      [itemsPerPage]="20"
      (newPageNeeded)="getHeaders($event, 20)"
    >
      <app-header
        *ngFor="let header of headers; trackBy: trackByHeader"
        [editingForm]="editingHeaderForm"
        [header]="header"
        [editing]="header.id === editingHeaderForm.value.id"
        (saveHeader)="saveEditing()"
        (editingHeader)="setEditingHeader(header)"
        (deleteHeader)="deleteHeader(header.id)"
        (cancelEditing)="cancelEditing()"
      ></app-header>
    </div>

    <ng-template #noHeaders>
      <div class="headers__empty">
        <img alt="Headers icon" src="assets/images/icons/header.svg" />
        <span>{{ "PAGES.ROUTES.MISSING_HEADERS" | translate }}</span>
      </div>
    </ng-template>
  </div>
</app-dialog>
