<app-dialog
  [title]="
    (isEditing ? 'PAGES.ROUTES.EDIT_RESPONSE' : 'PAGES.ROUTES.CREATE_RESPONSE')
      | translate
  "
>
  <div class="main-content">
    <div class="main-content__form">
      <app-input
        [style.width.%]="100"
        [control]="responseForm.controls.name"
        placeholder="Name"
        label="Name"
      ></app-input>

      <app-input
        [control]="responseForm.controls.status"
        type="number"
        placeholder="Status code"
        label="Status code"
      ></app-input>

      <app-button
        [style.width.px]="200"
        (click)="responseForm.controls.enabled.setValue(false)"
        color="#1D1B20"
        backgroundColor="white"
        borderColor="white"
        *ngIf="responseForm.controls.enabled.value"
        >Activo</app-button
      >
      <app-button
        [style.width.px]="200"
        (click)="responseForm.controls.enabled.setValue(true)"
        *ngIf="!responseForm.controls.enabled.value"
        >Activar</app-button
      >
    </div>
    <div *ngIf="newChanges" class="main-content__form__warning">
      <span>{{ "PAGES.ROUTES.NEW_CHANGES" | translate }}</span>
      <button (click)="compareChanges()" mat-button>
        {{ "ACTIONS.COMPARE_AND_SAVE" | translate }}
      </button>
    </div>
    <div
      *ngIf="warningInvalidJson && selectedTab === 0"
      class="main-content__form__warning"
    >
      {{ "PAGES.ROUTES.INVALID_JSON" | translate }}
    </div>
    <div
      *ngIf="this.responseForm.controls.body.invalid && selectedTab === 0"
      class="main-content__form__alert"
    >
      {{ "PAGES.ROUTES.EMPTY_JSON" | translate }}
    </div>
    <div class="main-content__editor">
      <ngx-monaco-editor
        [formControl]="responseForm.controls.body"
        [options]="{ theme: 'vs-dark', language: mode }"
      ></ngx-monaco-editor>
    </div>
    <div class="main-content__actions">
      <div>
        <app-button
          [disabled]="warningInvalidJson"
          *ngIf="this.selectedTab === 0"
          (click)="prettifyJson()"
        >
          {{ "ACTIONS.PRETTIFY_JSON" | translate }}
        </app-button>
      </div>
      <div>
        <app-button [disabled]="saving" (click)="dialogRef.close()">
          {{ "ACTIONS.CANCEL" | translate }}
        </app-button>
        <app-button
          borderColor="#4088FF"
          backgroundColor="#4088FF"
          color="white"
          [disabled]="saving"
          (click)="handleSave()"
        >
          {{ (isEditing ? "ACTIONS.UPDATE" : "ACTIONS.CREATE") | translate }}
        </app-button>
      </div>
    </div>
  </div>
</app-dialog>
