<div
  [cdkContextMenuTriggerFor]="menu"
  *ngIf="folder$ | async as folder"
  class="folder-list-item"
>
  <div (click)="opened = !opened" class="folder-list-item__content">
    <img src="/assets/images/icons/folder.svg" />
    <span>{{ folder.name }}</span>
    <img [class.rotated]="opened" src="/assets/images/icons/right-arrow.svg" />
  </div>
  <ng-template #menu>
    <div class="folder-list-item__actions" cdkMenu>
      <div (click)="openEditFolderModal(folder.id, folder)">
        <img alt="edit icon" src="assets/images/icons/pencil.svg" />
        <span>{{ "COMMON.EDIT" | translate }}</span>
      </div>
      <div (click)="openDeleteFolderModal(folder)">
        <img alt="delete icon" src="assets/images/icons/bin.svg" />
        <span>{{ "ACTIONS.DELETE" | translate }}</span>
      </div>
    </div>
  </ng-template>
  <ng-container *ngLet="selectedRoute$ | async as selectedRoute">
    <div
      *ngIf="opened"
      [attr.data-id]="folder.id"
      class="folder-list-item__routes"
      dragula="routes"
      [dragulaModel]="(routes$ | async) ?? []"
    >
      <app-route-list-item
        [attr.data-id]="route.id"
        [rounded]="false"
        (click)="selectRoute(route.id)"
        [isSelected]="selectedRoute === route.id"
        [route]="route"
        *ngFor="let route of (routes$ | async) ?? []; trackBy: trackByRoute"
      ></app-route-list-item>
    </div>
  </ng-container>
</div>
