.folder-list-item {
  position: relative;
  background-color: #2d2b30;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;

  &__divider {
    border-bottom: 2px solid white;
  }

  &__content {
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 16px;
    height: 48px;

    & > span {
      font-family: Roboto, "sans-serif";
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
      color: #ffffff;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & > img {
      transition: transform 150ms ease-in-out;
    }
  }

  &__routes {
    border-top: 1px solid #CAC4D0;
  }
}

.height-fit {
  height: fit-content !important;
}

.rotated {
  transform: rotate(90deg);
}