<div
  *ngIf="folder$ | async as folder"
  (cdkDragStarted)="draggingStart.emit()"
  (cdkDragEnded)="draggingEnd.emit()"
  class="folder-list-item"
  [class.dropping]="isDropping"
  cdkDragPreviewClass="height-fit"
  cdkDrag
>
  <div (click)="opened = !opened" class="folder-list-item__content">
    <app-checkbox [formControl]="checkedForm"></app-checkbox>
    <img src="/assets/images/icons/folder.svg" />
    <span>{{ folder.name }}</span>
    <img [class.rotated]="opened" src="/assets/images/icons/right-arrow.svg" />
  </div>
  <ng-container *ngLet="selectedRoute$ | async as selectedRoute">
    <div
      cdkDropList
      (cdkDropListDropped)="handleDrop($event)"
      *ngIf="opened"
      class="folder-list-item__routes"
    >
      <app-route-list-item
        [rounded]="false"
        (click)="selectRoute(route.id)"
        [isSelected]="selectedRoute === route.id"
        [route]="route"
        *ngFor="let route of routes$ | async; trackBy: trackByRoute"
      ></app-route-list-item>
    </div>
  </ng-container>

  <div class="folder-list-item__placeholder" *cdkDragPlaceholder></div>
</div>
