<div *ngIf="project" class="project">
  <div class="project__info">
    <div class="project__info__data">
      <span class="project__info__data__name">{{
        project.name | uppercase
      }}</span>
      <span class="project__info__data__description">{{
        project.description ?? "No description"
      }}</span>
    </div>
    <div class="project__info__actions">
      <app-button (click)="accept.emit()" [size]="'small'">
        <span>{{ "ACTIONS.ACCEPT" | translate }}</span>
      </app-button>
      <app-button (click)="reject.emit()" [size]="'small'">
        <span>{{ "ACTIONS.REJECT" | translate }}</span>
      </app-button>
    </div>
  </div>
</div>
