.dialog {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 28px;
  
    &__status {
      display: flex;
      gap: 20px;
  
      & > * {
        width: 100%;
      }
    }
  }

  &__actions {
    display: flex;
    gap: 20px;

    & > app-button {
      width: 100%;
    }
  }
}

