<app-dialog [title]="title">
  <div class="dialog">
    <div class="dialog__form">
      <app-input label="Nombre" [control]="routeForm.controls.name"></app-input>
      <ng-container *ngIf="!data?.isFolder">
        <app-input
          label="Endpoint"
          [control]="routeForm.controls.endpoint"
        ></app-input>
        <div class="dialog__form__status">
          <app-method-selector
            [control]="routeForm.controls.method"
          ></app-method-selector>
          <app-button
            (click)="routeForm.controls.enabled.setValue(false)"
            color="#1D1B20"
            backgroundColor="white"
            borderColor="white"
            *ngIf="routeForm.controls.enabled.value"
            >Activo</app-button
          >
          <app-button
            (click)="routeForm.controls.enabled.setValue(true)"
            *ngIf="!routeForm.controls.enabled.value"
            >Activar</app-button
          >
        </div>
      </ng-container>
    </div>
    <div class="dialog__actions">
      <app-button (click)="dialogRef.close()">Cancelar</app-button>
      <app-button (click)="handleSubmit()" backgroundColor="#4088FF" borderColor="#4088FF" color="white"
        >Crear</app-button
      >
    </div>
  </div>
</app-dialog>
