<app-dialog [title]="'PAGES.ROUTES.IMPORT_SWAGGER' | translate">
  <div
    class="main-content"
    (drop)="onFileDrop($event)"
    (dragover)="onDragOver($event)"
  >
    <div class="main-content__form">
      <app-input
        [style.width.%]="100"
        [control]="responseForm.controls.basePath"
        placeholder="/example/path"
        label="Base Path"
      ></app-input>
    </div>
    <div class="main-content__editor">
      <ngx-monaco-editor
        [formControl]="responseForm.controls.body"
        [options]="{ theme: 'vs-dark', language: 'yaml' }"
      ></ngx-monaco-editor>
    </div>
    <div class="main-content__file">
      <div class="main-content__file__box" [ngClass]="{'main-content__file__box__dragging': isDragging}">
        <img   src="/assets/images/icons/{{
          isDragging ? 'drag-and-drop-bold' : 'drag-and-drop'
        }}.png"/>

        <span>{{ (isDragging ? "PAGES.ROUTES.DROP_TO_UPLOAD" : "PAGES.ROUTES.DRAG_TO_UPLOAD") | translate }}</span>
      </div>
    </div>
    <div class="main-content__actions">
      <div>
        <app-button [disabled]="saving" (click)="dialogRef.close()">
          {{ "ACTIONS.CANCEL" | translate }}
        </app-button>
        <app-button
          borderColor="#4088FF"
          backgroundColor="#4088FF"
          color="white"
          [disabled]="saving"
          (click)="handleSave()"
        >
          {{ "ACTIONS.IMPORT" | translate }}
        </app-button>
      </div>
    </div>
  </div>
</app-dialog>
