<app-dialog
  [title]="'PAGES.ROUTES.IMPORT_SWAGGER' | translate"
>
  <div class="main-content">
    <div class="main-content__form">
      <app-input
        [style.width.%]="100"
        [control]="responseForm.controls.basePath"
        placeholder="/example/path"
        label="Base Path"
      ></app-input>
    </div>
    <div class="main-content__editor">
      <ng-container *ngIf="fileMode">
        <div class="main-content__editor__locked"></div>
        <div class="main-content__editor__locked-content">
          <img src="/assets/images/icons/download-off.svg" />
          <span
            >The response is in file mode, you can either return a file or text
            but not both. Please remove the file if you want to be able to go
            back to text mode.</span
          >
        </div>
      </ng-container>
      <ngx-monaco-editor
        *ngIf="!fileMode"
        [formControl]="responseForm.controls.body"
        [options]="{ theme: 'vs-dark', language: getEditorMode }"
      ></ngx-monaco-editor>
    </div>
    <div class="main-content__file">
      <div (click)="fileInput.click()" class="main-content__file__box">
        <input
          (change)="
            fileInput.files?.item(0) &&
              (selectedFile = fileInput.files?.item(0) ?? undefined)
          "
          #fileInput
          [style.display]="'none'"
          type="file"
        />
        <img
          src="/assets/images/icons/{{
            selectedFile?.name || fileInBack ? 'document' : 'download'
          }}.svg"
        />
        <span>{{
          selectedFile?.name ?? fileInBack ?? "PAGES.ROUTES.CLICK_TO_UPLOAD"
            | translate
        }}</span>
      </div>
      <app-button
        borderColor="#FF2B44"
        backgroundColor="#FF2B44"
        color="white"
        *ngIf="fileMode"
        (click)="clearFileMode()"
        >Delete file</app-button
      >
    </div>
    <div class="main-content__actions">
      <div>
        <app-button [disabled]="saving" (click)="dialogRef.close()">
          {{ "ACTIONS.CANCEL" | translate }}
        </app-button>
        <app-button
          borderColor="#4088FF"
          backgroundColor="#4088FF"
          color="white"
          [disabled]="saving"
          (click)="handleSave()"
        >
          {{'ACTIONS.IMPORT' | translate }}
        </app-button>
      </div>
    </div>
  </div>
</app-dialog>
