<app-dialog [title]="'PAGES.ROUTES.DUPLICATE_RESPONSE_TITLE' | translate">
  <div class="main-content">
    <div class="main-content__form">
      <app-input
        [style.width.%]="100"
        [control]="name"
        [placeholder]="'COMMON.NAME' | translate"
        [label]="'COMMON.NAME' | translate"
      ></app-input>
    </div>
    <div class="main-content__actions">
      <div>
        <app-button [disabled]="saving" (click)="dialogRef.close()">
          {{ "ACTIONS.CANCEL" | translate }}
        </app-button>
        <app-button
          borderColor="#4088FF"
          backgroundColor="#4088FF"
          color="white"
          [disabled]="saving || name.invalid"
          (click)="handleSave()"
        >
          {{ "COMMON.DUPLICATE" | translate }}
        </app-button>
      </div>
    </div>
  </div>
</app-dialog>
