<app-dialog [title]="'PAGES.ROUTES.FORKING_TITLE' | translate">
  <div class="fork">
    <app-input
      [control]="forkForm"
      [label]="'COMMON.NAME' | translate"
    ></app-input>
    <div class="fork__actions">
      <app-button (click)="dialogRef.close(false)">
        {{ "ACTIONS.CANCEL" | translate }}
      </app-button>
      <app-button
        (click)="forkForm.valid && dialogRef.close(forkForm.value)"
        [borderColor]="'#4088FF'"
        [backgroundColor]="'#4088FF'"
        color="white"
        >{{ "ACTIONS.CREATE" | translate }}</app-button
      >
    </div>
  </div>
</app-dialog>
